<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h2 style="color: #e91787;text-align: left;">Movie Name: <span style="color: white;"><%= product.title %></span></h2>
            <div class="video">
               
                <video width="inherit" height="240" controls autoplay>
                    <source src="/video/<%= product.videoUrl %>.mp4" type="video/mp4">
                </video>
            </div>
            
                <div class="review">
                    <form action="/review/<%= product._id %>" method="POST">
                        
                            <input type="hidden" name="review" value="1">
                           <button type="submit"><span class="fa fa-star"  id="star1"></span></button> 

                       
                    </form>

                    <form action="/review/<%= product._id %>" method="POST">
                      
                            <input type="hidden" name="review" value="2">
                           <button type="submit"><span class="fa fa-star"  id="star1"></span></button> 

                       
                    </form>
                     <form action="/review/<%= product._id %>" method="POST">
                            <input type="hidden" name="review" value="3">
                           <button type="submit"><span class="fa fa-star"  id="star1"></span></button> 

                    </form>
                    <form action="/review/<%= product._id %>" method="POST">
                            <input type="hidden" name="review" value="4">
                           <button type="submit"><span class="fa fa-star"  id="star1"></span></button> 

                    </form>
                    <form action="/review/<%= product._id %>" method="POST">
                            <input type="hidden" name="review" value="5">
                           <button type="submit"><span class="fa fa-star"  id="star1"></span></button> 
                    </form>
                </div>
            </form>
            <% if(product.review!=null && product.review!=undefined) { %>
                <p><span style="color: #e91787;"> review </span>: <%= product.review %></p>
                <% } %>
                <p><span style="color: #e91787;">Category</span> : <%= product.type %></p>
            <p><%= product.description %></p>
            <!-- <p><%= data %></p> -->
            <h2 style="color: #e91787;text-align: left;">Recommendation Movie from <%= product.title %>:</h2>
            <% if (data.length > 0) { %>
                
                    <% for (let product1 of data) { %>
                      <p style="text-align: left;"><%= product1.title %></p>
                       -%>
                    <% } %>
                
                <% } else { %>
                    <h1>No Products Found!</h1>
                    <% } %>
             <% if (similarDocuments.length > 0) { %>
                
                        <% for (let product2 of similarDocuments) { %>
                          <p style="text-align: left;"><%= product2.id %>       <%= product2.score %></p>
                        <% } %>
                        <% } else { %>
                            <h1>No Products Found!</h1>
                            <% } %>
        </main>
        
        <%- include('../includes/end.ejs') %>
