<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.title %></h1>
            <hr>
            <div class="image">
                
                <video width="inherit" height="240" controls>
                    <source src="<%= product.videoUrl %>" type="video/mp4">
                </video>
            </div>

            <p><%= product.description %></p>
            <%- include('../includes/add-to-cart.ejs') %>
        </main>
        <%- include('../includes/end.ejs') %>